Repository PrismLinux/repository: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_config, build_packages, test_packages, pages, notify_deployment

validate_config:
  stage: prepare
  before_script:
  - - echo "Installing dependencies..."
    - pacman -Syu --noconfirm --needed
    - pacman -S --noconfirm --needed curl jq base-devel git unzip
  script:
  - - set -euo pipefail
    - 'trap ''echo "Error occurred at line $LINENO. Exit code: $?" >&2'' ERR
  
      '
  ...

build_packages:
  stage: build
  needs:
  - check_packages
  before_script:
  - - echo "Installing dependencies..."
    - pacman -Syu --noconfirm --needed
    - pacman -S --noconfirm --needed curl jq base-devel git unzip
  ...

test_packages:
  stage: test
  needs:
  - build_packages
  before_script:
  - - echo "Installing dependencies..."
    - pacman -Syu --noconfirm --needed
    - pacman -S --noconfirm --needed curl jq base-devel git unzip
  script:
  - - set -euo pipefail
    - 'trap ''echo "Error occurred at line $LINENO. Exit code: $?" >&2'' ERR
  
  ...

pages:
  stage: deploy
  needs:
  - build_packages
  - test_packages
  before_script:
  - - echo "Installing dependencies..."
    - pacman -Syu --noconfirm --needed
    - pacman -S --noconfirm --needed curl jq base-devel git unzip
  - echo "Installing Bun..."
  - curl -fsSL https://bun.sh/install | bash
  ...

notify_deployment:
  stage: cleanup
  image: alpine:latest
  needs:
  - pages
  before_script:
  - apk add --no-cache curl
  script:
  ...

stages
  .gitlab-ci.yml
Due: validate_config

fix
  .gitlab-ci.yml
Due: validate_config

?
  .gitlab-ci.yml
Due: validate_config

update
  .gitlab-ci.yml
Due: validate_config

final fix
  .gitlab-ci.yml
Due: validate_config

rollback final release
  .gitlab-ci.yml
Due: validate_config

added hooks
  packages_id.txt
Due: validate_config, build_packages, test_packages, pages, notify_deployment

update license
  LICENSE
Due: none

update
  website/bun.lock
  website/package.json
  website/vite.config.ts
Due: validate_config, build_packages, test_packages, pages, notify_deployment

support gaming meta
  packages_id.txt
Due: validate_config, build_packages, test_packages, pages, notify_deployment

removed xmcl-launcher
  packages_id.txt
Due: validate_config, build_packages, test_packages, pages, notify_deployment

Added Settings
  packages_id.txt
Due: validate_config, build_packages, test_packages, pages, notify_deployment

added rate mirrors
  packages_id.txt
Due: validate_config, build_packages, test_packages, pages, notify_deployment

cleanup, disabled setup page
  install.sh
  website/bun.lock
  website/src/App.vue
Due: validate_config, build_packages, test_packages, pages, notify_deployment

Added space between packages.
  packages_id.txt
Due: validate_config, build_packages, test_packages, pages, notify_deployment

added new package: graphics
  packages_id.txt
Due: validate_config, build_packages, test_packages, pages, notify_deployment

feat: Remote packages
  .gitlab-ci.yml
  remote_packages.txt
Due: validate_config

deleted script
  scripts/sort.sh
Due: none

use makefile over scripts
  Makefile
Due: none

new build system
  .gitlab-ci.yml
Due: validate_config

moved
  PKGBUILDs/packages_id.txt
  PKGBUILDs/remote_packages.txt
Due: none

fixes
  .gitlab-ci.yml
Due: validate_config

upate
  .gitlab-ci.yml
Due: validate_config

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: validate_config

update
  .gitlab-ci.yml
  Makefile
Due: validate_config

Path conditions:
  validate_config: any of: website/**/*, .gitlab-ci.yml, packages_id.txt
  build_packages: any of: packages_id.txt, website/**/*
  test_packages: any of: packages_id.txt, website/**/*
  pages: any of: packages_id.txt, website/**/*
  notify_deployment: any of: packages_id.txt, website/**/*
